# 12 MHz clock
set_io -nowarn i_clk       35

# RS232
set_io -nowarn RX          6
set_io -nowarn TX          9

# LEDs and Button
set_io -nowarn i_reset    10
set_io -nowarn LEDR_N     11
set_io -nowarn LEDG_N     37

# RGB LED Driver
set_io -nowarn LED_RED_N  39
set_io -nowarn LED_GRN_N  40
set_io -nowarn LED_BLU_N  41

# SPI Flash
set_io -nowarn FLASH_SCK  15
set_io -nowarn FLASH_SSB  16
set_io -nowarn FLASH_IO0  14
set_io -nowarn FLASH_IO1  17
set_io -nowarn FLASH_IO2  12
set_io -nowarn FLASH_IO3  13

# PMOD 1A
set_io -nowarn i_spi_mosi       4
set_io -nowarn i_spi_nss        2
set_io -nowarn i_spi_clk        47
set_io -nowarn o_va             45
set_io -nowarn o_vb             3
set_io -nowarn o_vcom           48
set_io -nowarn o_gsp            46
set_io -nowarn o_gck            44

# PMOD 1B
set_io -nowarn o_gen            43
set_io -nowarn o_intb           38
set_io -nowarn o_bsp            34
set_io -nowarn o_bck            31
set_io -nowarn o_rgb[0]         42
set_io -nowarn o_rgb[1]         36
set_io -nowarn o_rgb[2]         32
set_io -nowarn o_rgb[3]         28

# PMOD 2
set_io -nowarn o_rgb[4]         27
set_io -nowarn o_rgb[5]         25
set_io -nowarn o_wfull          21
set_io -nowarn o_wfull_almost   19
set_io -nowarn o_rempty         26
set_io -nowarn o_rempty_almost  23
set_io -nowarn P2_9             20
set_io -nowarn P2_10            18

